<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Interval" value="10000" /><!--Plc okuma sıklığı-->
    <add key="tracelavel" value="Verbose"/><!--Off = 0,Error = 1,Warning = 2,Info = 3,Verbose = 4-->
    <add key="RabbitMQ_HostName" value="192.168.9.74" />
    <add key="RabbitMQ_UserName" value="mqadmin" />
    <add key="RabbitMQ_Password" value="mqadminpassword" />
    <add key="RedisStore_HostName" value="192.168.9.74" />
    <add key="RedisStore_Password" value="cd482d23638121f639d7b45c849c377cdacc6e26140f363b1d3721f3dd014b8a" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;Pooling=false;Data Source=(localdb)\mssqllocaldb;Initial Catalog=WarehouseManagement" />-->
    <!--<add name="ConnectionString" connectionString="Server=127.0.0.1;User Id=postgres;Password=20012001;Database=WHM;Port=5432" />-->
    <!--<add name="ConnectionStringLog" connectionString="Server=127.0.0.1;User Id=postgres;Password=20012001;Database=WHM_Log;Port=5432" />-->

    <!--<add name="ConnectionString" connectionString="XpoProvider=Postgres;Server=192.168.2.19;User Id=whm;Password=whm123;Database=ORS;Encoding=UNICODE;Port=5432;Pooling=False" />-->
    <!--<add name="ConnectionString" connectionString="Server=192.168.9.74;User Id=postgres;Password=20012001;Database=WHM;Port=5432;Pooling=False;ApplicationName=OPCClient" />-->
    <add name="ConnectionString" connectionString="Server=192.168.9.74;User Id=postgres;Password=20012001;Database=WHM;Port=5432;Pooling=False;ApplicationName=OPCClient" />
    <add name="ConnectionStringLog" connectionString="Server=127.0.0.1;User Id=postgres;Password=20012001;Database=WHM_Log;Port=5432" />
    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=WarehouseManagement.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
</configuration>